panda3d~=1.10.11
requests
pyglet
pypresence
pyttsx3
psutil
pyscreenshot
pydatanet
distro
colorama
PyMsgBox
elevate
lupa
python-xlib
py-cpuinfo
numpy
google-api-python-client
pillow
pmw
PyOpenAL
PyOgg
